.App {
  text-align: center;
  min-height: 100%;
}

nav ul li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
}

nav {
  margin-right: 70%;
  margin-bottom: 40px;
}

h1 {
  opacity: 0.7;
}

.submit-btn {
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
}

.btn {
  margin-top: 30px;
  margin-bottom: 140px;
}

footer {
  position: fixed;
  bottom: 0;
  margin-top: 40px;
  margin-left: 40%;
  text-align: center;

}

#open-select {
  width: 90px;
  display: inline-flex;
}
