.App {
  text-align: center;
  min-height: 100%;
}
nav ul li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
}

nav {
  margin-right: 70%;
  margin-bottom: 40px;
}

h1 {
  opacity: 0.7;
}

.submit-btn {
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
}

.btn {
  margin-top: 30px;
  margin-bottom: 140px;
}

footer {
  position: fixed;
  bottom: 0;
  margin-top: 40px;
  margin-left: 40%;
  text-align: center;

}

#open-select {
  width: 90px;
  display: inline-flex;
}

body {
  background: rgb(120,113,255);
background: linear-gradient(90deg, rgba(120,113,255,1) 0%, rgba(141,242,254,0.9668242296918768) 0%, rgba(215,255,219,1) 1%, rgba(150,255,131,1) 100%, rgba(153,238,255,1) 100%, rgba(17,125,143,1) 100%);
}

#language-select-btn {
  text-align: center;
}
